body{
    background-color: #B7CADB;
    font: normal 15pt arial;
}
body.dark-mode{
    background-color: #222831;
}
header{
    color: #F3E9DD;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
main{
    text-align: center;
    align-items: center;
    padding: 15px;
    margin-left: 37%;
    width: 500px;
}
footer{
    color: #F3E9DD;
    text-align: center;
    font-style: italic;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}


form#container-calc{
    max-width: 290px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    background-color: #F3E9DD;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
form#container-calc.dark-mode{
    background-color: #393E46;
}

input[type^="text"] {
    background-color: #F3E9DD;
    border: none;
    padding: 5px;
    margin: 3%;
    font-size: 20pt;
    text-align: end;
    max-width: 250px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
}
input[type^="text"].dark-mode {
    background-color: #393E46;
    color: #F9F7F7;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.9);
}
input[type^="button"] {
    color: #bda27e;
    border: none;
    background-color: rgba(243, 233, 221, 0.8);
    border-radius: 10px;
    padding: 10px;
    font-size: 18pt;
    font-weight: bold;
    margin: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
input[type^="button"].dark-mode{
    background-color: #393E46;
    color: #00ADB5;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}
input[type^="button"]:hover{
    box-shadow: none;
    color: rgba(187, 147, 94, 0.5);
    background-color: rgba(240, 223, 202, 0.8);
}
input[type^="button"].dark-mode:hover{
    background-color: #222831;
    box-shadow: none;
    color: #00ADB5;
}
div#b-numeros {
    max-width: 140px;
    margin-left: 3%;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: none;
}
div#b-operadores {
    max-width: 102px;
    justify-content: space-evenly;
    float: right;
}
a{
    text-decoration: none;
    color: #F3E9DD;
}
